flows.json
[
    {
        "id": "2674d96e699cd9f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0c49d338c7b549eb",
        "type": "dwdweather",
        "z": "2674d96e699cd9f1",
        "name": "",
        "mosmixStation": "E790",
        "lookAheadHours": "0",
        "additionalFields": "N, SunD1, RRS3c",
        "omitMessageOnStart": false,
        "repeat": "0",
        "topic": "",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "265f158293a009ec"
            ]
        ]
    },
    {
        "id": "265f158293a009ec",
        "type": "debug",
        "z": "2674d96e699cd9f1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb545a934afd984b",
        "type": "inject",
        "z": "2674d96e699cd9f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "0c49d338c7b549eb"
            ]
        ]
    }
]