flows.json
[
    {
        "id": "2674d96e699cd9f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a64b091a.a1bf2",
        "type": "tab",
        "label": "aWATTar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "82e4deed385d6f9c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1495fa22.b16436",
        "type": "ui_group",
        "name": "Standard",
        "tab": "f420fdaa.3226a8",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "f420fdaa.3226a8",
        "type": "ui_tab",
        "name": "aWATTar",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "704230ba36ee1091",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "536f41b908643e8b",
        "type": "ui_tab",
        "name": "Wettervorhersage",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e3de957ff72c860",
        "type": "ui_group",
        "name": "Wetter",
        "tab": "536f41b908643e8b",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb545a934afd984b",
        "type": "inject",
        "z": "2674d96e699cd9f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "b2e9113c13a19b5c"
            ]
        ]
    },
    {
        "id": "b2e9113c13a19b5c",
        "type": "http request",
        "z": "2674d96e699cd9f1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app-prod-ws.warnwetter.de/v30/stationOverviewExtended?stationIds=E790",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "d62539352e79994a",
                "950c3cc74b034996"
            ]
        ]
    },
    {
        "id": "be352772f8a4beb7",
        "type": "debug",
        "z": "2674d96e699cd9f1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "d62539352e79994a",
        "type": "function",
        "z": "2674d96e699cd9f1",
        "name": "function 2",
        "func": "var Test = msg.payload;\nvar msg1 = {};\nvar label = [];\nvar tempsfc = [];\nvar labelfc = [];\nlet forecast_1 = Test.E790.forecast1;\n\nfor(let i=0; i<forecast_1.temperature.length; i++){\n    let datefc = new Date((i * 3600000) + forecast_1.start);\n    let hour = datefc.getHours;\n    label.push(hour);\n    if (forecast_1.temperature[i] < 32767){\n        labelfc.push(label[i]);\n        tempsfc.push(forecast_1.temperature[i]/10);\n    };\n};\nmsg1.series = [\"Temperatur\"];\nmsg1.data = [tempsfc];\nmsg1.labels = labelfc;\n\n\n\n\n\nreturn {payload: [msg1]};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "be352772f8a4beb7",
                "cf5e81f9b5e3d791"
            ]
        ]
    },
    {
        "id": "cf5e81f9b5e3d791",
        "type": "ui_chart",
        "z": "2674d96e699cd9f1",
        "name": "",
        "group": "8e3de957ff72c860",
        "order": 2,
        "width": 20,
        "height": 12,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab9b248bc8970f3",
        "type": "ui_button",
        "z": "2674d96e699cd9f1",
        "name": "",
        "group": "8e3de957ff72c860",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "b2e9113c13a19b5c"
            ]
        ]
    },
    {
        "id": "950c3cc74b034996",
        "type": "debug",
        "z": "2674d96e699cd9f1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b5f6c04.3b618",
        "type": "http request",
        "z": "a64b091a.a1bf2",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "192872f5.e2d8fd"
            ]
        ]
    },
    {
        "id": "d14916ff.24eb98",
        "type": "inject",
        "z": "a64b091a.a1bf2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "f9ea60a0766d03c6"
            ]
        ]
    },
    {
        "id": "b55ac867.5e8d18",
        "type": "debug",
        "z": "a64b091a.a1bf2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "192872f5.e2d8fd",
        "type": "json",
        "z": "a64b091a.a1bf2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "c45ef36c.746fb"
            ]
        ]
    },
    {
        "id": "c45ef36c.746fb",
        "type": "split",
        "z": "a64b091a.a1bf2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "4df30205.32ac34",
                "e155a845.29cf58"
            ]
        ]
    },
    {
        "id": "4df30205.32ac34",
        "type": "split",
        "z": "a64b091a.a1bf2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e43d0284.cb377"
            ]
        ]
    },
    {
        "id": "e43d0284.cb377",
        "type": "switch",
        "z": "a64b091a.a1bf2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "b55ac867.5e8d18"
            ]
        ]
    },
    {
        "id": "673642ac.a881a4",
        "type": "comment",
        "z": "a64b091a.a1bf2",
        "name": "aWATTar abfragen",
        "info": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f444514.b1f43c",
        "type": "ui_button",
        "z": "a64b091a.a1bf2",
        "name": "",
        "group": "1495fa22.b16436",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "f9ea60a0766d03c6"
            ]
        ]
    },
    {
        "id": "2653648a.b6dbac",
        "type": "function",
        "z": "a64b091a.a1bf2",
        "name": "",
        "func": "let message = msg.payload;\nvar msg1 = {};\nvar msg2 = {};\nvar daten = [];\nvar stunden = [];\nvar preisenetto = [];\nvar preisebrutto = [];\n\nfor(let i = 0; i<message.length; i++){\n    let hour = new Date(message[i].start_timestamp);\n    let stunde = hour.getHours();\n    let price = message[i].marketprice/10;\n    \n    daten.push([price, hour]);\n    stunden.push(stunde);\n    preisenetto.push(price);\n    preisebrutto.push(price * 1.22 + 15.92);\n\n}\n\nmsg1.series = [\"Nettopreise\", \"Bruttopreise\"];\nmsg1.data = [preisenetto, preisebrutto];\nmsg1.labels = stunden;\n\n\n\n\n\nreturn [{payload: daten}, {payload: [msg1]}];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "a0bdf391.90198"
            ],
            [
                "4818bed5.a4f23",
                "c776b0f.8d51dd"
            ]
        ]
    },
    {
        "id": "e155a845.29cf58",
        "type": "switch",
        "z": "a64b091a.a1bf2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "2653648a.b6dbac"
            ]
        ]
    },
    {
        "id": "a0bdf391.90198",
        "type": "debug",
        "z": "a64b091a.a1bf2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "4818bed5.a4f23",
        "type": "debug",
        "z": "a64b091a.a1bf2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "c776b0f.8d51dd",
        "type": "ui_chart",
        "z": "a64b091a.a1bf2",
        "name": "",
        "group": "1495fa22.b16436",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ct/kWh",
        "chartType": "bar",
        "legend": "true",
        "xformat": "",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f9ea60a0766d03c6",
        "type": "function",
        "z": "a64b091a.a1bf2",
        "name": "function 1",
        "func": "let time = new Date();\nlet timestart = time.getTime();\nlet timeend = (timestart + 172800000);\n\nlet url = \"https://api.awattar.de/v1/marketdata?start=\" + timestart + \"&end=\" + timeend;\n\nreturn {payload: url};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "8e76b58864730104"
            ]
        ]
    },
    {
        "id": "8e76b58864730104",
        "type": "change",
        "z": "a64b091a.a1bf2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "8b5f6c04.3b618"
            ]
        ]
    },
    {
        "id": "14c60a10.794df6",
        "type": "http request",
        "z": "82e4deed385d6f9c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "b4ea8dd4.61a05"
            ]
        ]
    },
    {
        "id": "b4ea8dd4.61a05",
        "type": "debug",
        "z": "82e4deed385d6f9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.title",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "3479192a.04f016",
        "type": "inject",
        "z": "82e4deed385d6f9c",
        "name": "post id",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "e69250cf.368fd"
            ]
        ]
    },
    {
        "id": "e69250cf.368fd",
        "type": "change",
        "z": "82e4deed385d6f9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "14c60a10.794df6"
            ]
        ]
    }
]